$mainColor: #002347;
$secondaryColor: #fdc632;
$tertiaryColor: #7b838a;
$colorWhite: #fff;
$bgColor: #f9f9ff;
$fontFamilyRubik: "Rubik", sans-serif;
$fontFamilyRoboto: "Roboto", sans-serif;
$fontWeightFive: 500;
