$mainColor: #002347;
$secondaryColor: #fdc632;
$tertiaryColor: #7b838a;
$colorWhite: #fff;
$bgColor: #f9f9ff;

.card {
	display: flex;
	flex-direction: column;
	h2,
	h3 {
		color: $mainColor;
	}
	p {
		color: $tertiaryColor;
	}
	&__img {
		img {
			width: 100%;
			height: 100%;
			transition: all 0.3s ease-in-out;
		}
		overflow: hidden;
	}
	&:hover {
		box-shadow: 0 0 8px 2px rgb(203, 201, 201);
		background-color: white;
		.card__img {
			width: 100%;
			overflow: hidden;
			img {
				transform: scale(1.1);
			}
		}
		.card__text {
			background-color: $colorWhite;
		}
		h2 {
			color: $secondaryColor;
		}
		.card__text__top__price {
			background-color: $mainColor;
			p {
				color: $secondaryColor;
			}
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 30px 26px;
		position: relative;
		background-color: $bgColor;
		text-align: start;
		&__top {
			display: flex;
			justify-content: space-between;
			&__name {
				button {
					padding: 8px 21px;
					color: $colorWhite;
					background-color: $mainColor;
					text-transform: uppercase;
					border: none;
					font-size: 16px;
				}
			}
			&__price {
				background-color: $secondaryColor;
				text-align: center;
				width: 65px;
				height: 65px;
				line-height: 65px;
				position: absolute;
				top: -34px;
				right: 15px;
				border-radius: 50%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				-webkit-transition: all 0.3s ease 0s;
				-moz-transition: all 0.3s ease 0s;
				-o-transition: all 0.3s ease 0s;
				transition: all 0.3s ease 0s;
				p {
					font-size: 20px;
					color: $mainColor;
					font-weight: 500;
				}
			}
		}
		&__middle {
			display: flex;
			flex-direction: column;
			gap: 16px;
			h2 {
				font-size: 20px;
				font-weight: 500;
			}
		}
		&__bottom {
			display: flex;
			justify-content: space-between;
			&__user {
				display: flex;
				align-items: center;
				gap: 8px;
				img {
					border-radius: 50%;
				}
				h3 {
					font-size: 16px;
					font-weight: 500;
				}
			}
		}
	}
}
